/*Set the game background image*/
#background {
	background-image: url("https://static.vix.com/es/sites/default/files/styles/large/public/a/avatar-portada.jpg?itok=p94bZzXT");
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.container {
	text-align: center;
	color: white;
	font-size: 20px;
}
/*Background for flunked score screen:*/;
#failing {
	background-image: url("assets/images/banishmentzuko")
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-attachment: fixed;
	background-size: 100% 100%;


}

/*Background for passing score screen*/
#mediocre {
	background-image: url("assets/images/iroh.jpg")
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-attachment: fixed;
	background-size: 100% 100%;

}

/*Background for 100% score screen*/
#aced {
	background-image: url("assets/images/team_avatar.jpg")
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-attachment: fixed;
	background-size: 100% 100%;

}